/* stylesheet for all webpages */




/* ----------------------------------   Css defining the width of the column and a 1 single row block  ---------------------------------------------------- */


/* Creates full width one block as a row */
.row::after {
  content: "";
  clear: both;
  display: block;
}


/* Creates column of respective width */
[class*="col-id-"] {
  float: left;
  padding: 15px;
 


}

/* Column for desktop view */
.col-id-1 {width: 8.33%;}
.col-id-2 {width: 16.66%;}
.col-id-3 {width: 25%;}
.col-id-4 {width: 33.33%;}
.col-id-5 {width: 41.66%;}
.col-id-6 {width: 50%;}
.col-id-7 {width: 58.33%;}
.col-id-8 {width: 66.66%;}
.col-id-9 {width: 75%;}
.col-id-10 {width: 83.33%;}
.col-id-11 {width: 91.66%;}
.col-id-12 {width: 100%;}




/* ---------------------------------  Css for Mobile responsiveness  ----------------------------------------  */

@media only screen and (max-width: 768px) {
  
  /* any column for smartphones will take 100% width */
  [class*="col-id-"] {
    width: 100%;
  }

  /* hide slider section in smartphone view*/
  #slider{
    display: none;
  }
}

/* ---------------------------------  Css for print the website -----------------------------------------------  */

@media print {
  /* css for print layout */
  * {
    /* choosing fonts */
    font-family: "Comic Sans MS", cursive, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;


  }
/* Hide the menu, footer, image background of home page and slider background of other pages*/
  nav, footer,#slider, #slider-background{
    display: none !important;
  }
 
 /* append the size of image to 140px */
  .content img{

    height: 140px;

  }

  
}




/* ----------------------------------   Css for id and class ---------------------------------------------------- */

/*  Setting for all elements -box sizing */
* {
  /* choosing fonts */
  font-family: "Comic Sans MS", cursive, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;


}



/* style for body of all pages */
body{
  margin:0px auto;
 background-color: #EFEFEF;

}

/* remove text decoration of all anchor a element*/
a{
  text-decoration-line: none;
}

/* Css for clearing float */
.clear{
  clear:both;
}

/* navigation menu css design */
nav{
   opacity: 0.8;
  background-color: #6E7780;
  display: flex;
}

/* design for li element of menu */
nav ul li{
  float:left;
  display: inline-block;
  font-size: 24px;
  padding: 10px;
  float: center;
}

/* style for anchor of  menu */
nav ul li a{
  
  color:black;
}

/* style for active class  menu */
.active{
  color:white;
}

/* style for anchor of  menu when mouse is hovered in menu */
nav ul li a:hover{
  /*font-size:20px;*/
  color:white;
  /*background-color: green;*/
}

/* style for anchor of  menu when its already visited */


/* slider section (Here we put a one fixed background image in a slider section ) */
#slider{
  background: url('../images/slider-image.jpg');
  padding-top: 25px;
   min-height: 490px;
   background-color: #044099;
   color:white;
   background-attachment: fixed;
}

/* style for footer section */
#footer{
  min-height: 300px;
  background-color: #888F96;
}

/* creates vertical solid line */
.vertical-line{
  border-right: 1px solid white;
  height: 300px;
  
}

/* bottom portion of footer layout */
.footer-end{
  background-color: #888F96;
  text-align:center;
  padding: 15px;

}

/* this sticky class is added from javascript for making navigation part fixed */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
 
}



