/* stylesheet for all webpages */

/* ----------------------------------   Css defining the width of the column and a 1 single row block  ---------------------------------------------------- */


/* Creates full width one block as a row */
.row::after {
  content: "";
  clear: both;
  display: block;
}


/* Creates column of respective width */
[class*="col-id-"] {
  float: left;
  padding: 15px;
 


}

/* Column for desktop view */
.col-id-1 {width: 8.33%;}
.col-id-2 {width: 16.66%;}
.col-id-3 {width: 25%;}
.col-id-4 {width: 33.33%;}
.col-id-5 {width: 41.66%;}
.col-id-6 {width: 50%;}
.col-id-7 {width: 58.33%;}
.col-id-8 {width: 66.66%;}
.col-id-9 {width: 75%;}
.col-id-10 {width: 83.33%;}
.col-id-11 {width: 91.66%;}
.col-id-12 {width: 100%;}




/* ---------------------------------  Css for Mobile responsiveness  ----------------------------------------  */

@media only screen and (max-width: 768px) {
  
  /* any column for smartphones will take 100% width */
  [class*="col-id-"] {
    width: 100%;
  }

 
}

/* ---------------------------------  Css for print the website -----------------------------------------------  */

@media print {
  /* css for print layout */
  * {
    /* choosing fonts */
    font-family: "Comic Sans MS", cursive, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;


  }


  
}

/* ----------------------------------   Css for id and class ---------------------------------------------------- */

/*  Setting for all elements -box sizing */
* {
  /* choosing fonts */
  font-family: "Comic Sans MS", cursive, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;


}



/* style for body of all pages */
body{
  color:rgb(0,50,0);
  background-color: #fff;
  margin: 0px auto;
  width:90%;

}
header{
  margin-top: 15px;
}

/* remove text decoration of all anchor a element*/
a{
  text-decoration-line: none;
}


/* style for anchor of  menu when its already visited */


.error-msg{
  color:red;
}

.progress{
  width: 100%;
  background-color: #ddd;
}
.progress-bar {
  width: 30%;
  height: 30px;
  background-color: rgb(0,50,0);;
  text-align: center;
  line-height: 30px;
  color: white;
}

.alert-danger{
   padding: 20px;
  background-color: #f44336;
  color: white;
}

.form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    /*line-height: 1.428571429;*/
    /*color: #555;*/
    vertical-align: middle;
    background-color: #fff;
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
}

.form_body {
    padding: 25px 25px 30px 25px;
    box-shadow: 1px 2px 13px 0px #333;

    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    
    text-align: left;
    transition: all .4s ease-in-out;
}

.form_body:hover {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

textarea{
  width: 100%;
}


.btn-prev{
  width: 100%;
  background-color: rgb(0,50,0);;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-prev:hover {
  background-color: #45a049;
}


.btn-next{
  width: 100%;
  background-color: rgb(0,50,0);;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-next:hover {
  background-color: #45a049;
}


/* creates vertical solid line */
.vertical-line{
  border-right: 1px solid white;
  height: 300px;
  
}


/* right float*/
.pull-right{
    text-align:right;
}

/* toogle switch css code*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}




.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked + .slider {
    background-color: rgb(0,50,0);;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.display-first-help-section > p {
    padding-left: 10px;
}